.title {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: center;
}

.card {
  color: white;
  background-color: rgba(19, 68, 4, 0.671);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.116);
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  width: 200px;
  height: 250px;
}
